{% extends 'blog/base.html' %}
{% block  title %} {# عنوان صفحه در مرورگر #}
    {{ post.title }}
{% endblock %} 

{% block content %}
    <h1>{{ post.title }}</h1> {# نمایش عنوان پست #}
    <p class="date"> {# نمایش تاریخ انتشار و نویسنده پست #}
        Published {{post.publish}} by {{post.author}}
    </p>
    {{ post.body|linebreaks }} {# نمایش متن کامل پست با حفظ شکست خطوط #}
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment {{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
        {% empty %}
            <p> There are no Comments yet! </p>
        {% endfor %}
    {% include 'blog/post/include/comment_form.html' %}
{% endblock %}