{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}
    My Blog
{% endblock %}

{% block content %}

    {# Display the currently selected tag filter, if applicable. #}
    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}

    {# Render the paginated list of published blog posts. #}
    {% for post in posts %}

        <h2 class="post-title">
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>

        {# Display all tags associated with the current post. #}
        <p class="tags">
            Tags:
            {% for tag in post.tags.all %}
                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <p class="post-date">
            Published {{ post.publish }} by {{ post.author }}
        </p>

        {# Show a shortened preview of the post content. #}
        <div class="post-body">
            {{ post.body|truncatewords:30|linebreaks }}
        </div>

    {% endfor %}

    {# Include the reusable pagination component. #}
    {% include "pagination.html" with page=posts %}

{% endblock %}